extends ../node_modules/pug-bootstrap/_bootstrap

append styles
	// Custom styles for this template
	+bootswatch("lumen")
	link(href='./css/layout.css', rel='stylesheet')
block body
	include ./_navbar
	.container-fluid
		.row
			include ./_sidebar
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				block content
append scripts
	script(src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js")
	script.
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyA4_PArBZ9jjmQR7ZfXKkRMf1fvx-eTUt4",
			authDomain: "petvet-cb141.firebaseapp.com",
			databaseURL: "https://petvet-cb141.firebaseio.com",
			projectId: "petvet-cb141",
			storageBucket: "petvet-cb141.appspot.com",
			messagingSenderId: "400267141081"
		};
		firebase.initializeApp(config);

        // Get a reference to the database service
        var database = firebase.database();


